body {
    background-color: rgba(0, 119, 255, 0.79);
    font-family: arial;
    text-align: center;
   padding: 100px;
}
.email {
  background-color: white;
  border: none;
   height: 30px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 20px;
    margin: 15px auto;
   display: block;
    
}
.password {
    background-color: white;
    border: none;
   height: 30px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 20px;
    margin: 15px auto;
   display: block;
}
.log {
    background-color: black;
    color: antiquewhite;
    border: none;
   height: 30px;
   width: 500px;
   padding-left: 10px;
    margin: 15px auto;
   border-radius: 6px; 
   text-decoration: none; 
}
.reset {
  text-decoration: none;
}
.last-name {
   background-color: white;
  border: none;
   height: 30px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 20px;
    margin: 15px auto;
   display: block;
}
.first-name {
   background-color: white;
  border: none;
   height: 30px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 20px;
    margin: 15px auto;
   display: block;
}
.submit {
   height: 30px;
   width: 200px;
   margin-bottom: 20px;
      margin: 5px auto;
   display: block;
}

