body {
    background-color: rgba(38, 0, 128, 0.537);
    font-family: Arial, Helvetica, sans-serif;
}
.division {
    background-color: white;
    width: 900px;
    padding: 40px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    padding-left: 100px;
    font-size: 20px;
    left: 25%;
    top: 15%;
}
nav a {
    list-style: none;
    padding: 10px;
    text-align: center;
    margin: auto;
    transition: 0.4s ease-in-out;
    flex-direction: row;
    margin-bottom: 300px;
    padding-left: 0px;
    color: blueviolet;


}
nav a {
    text-decoration: none;
}
.heading {
    padding-top: 110px;
    font-size: 40px;
}
.web {
    padding-left: 700px;
    display: flex;
  
}
.name {
    font-family: cursive;
    color: rgba(38, 0, 128, 0.82);
}
.picture {
     position: absolute;
    top: 23%;
    left: 20%;

}
.img {
    padding: 140px;

}
.experience {
    padding-left: 750px;
    display: flex;
    margin-bottom: 300px;
}
.student {
    margin-top: 30px;

}
.email {
   color: rgba(141, 43, 226, 0.669);
   display: flex;
}
