body {
    background-color: rgba(128, 0, 111, 0.537);
    color: black;
    font-family: arial;
}
img {
    width: 200px;
    height: 200px;
}
.img1 {
    border-radius: 50%;
}
.img2 {
    margin-right: 40px;
}
.link {
    color: rgb(128, 0, 0);
}
.p1 {
    padding: px;
}
.hi {
    padding: px;
}