body {
    background-color: rgba(38, 0, 128, 0.537);
    color: antiquewhite;
    font-family: arial;
}
img {
    width: 200px;
    height: 200px;
}
.img1 {
    border-radius: 50%;
}
.img2 {
    margin-right: 40px;
}
.link {
    color: rgb(144, 0, 255);
}
