body {
    background-color: rgba(38, 0, 128, 0.537);
    color: antiquewhite;
    font-family: arial;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
}
.botten-img1 {
    border-radius: 50%;
    margin: auto;
    display: block;
.img2 {
    margin-right: 40px;
    margin: auto;
}
.link {
    color: rgb(144, 0, 255);
}
.email {
    background-color: white;
    border: none;
   height: 50px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 20px;
   display: block;
    
}
.password {
    background-color: white;
    border: none;
   height: 50px;
   width: 500px;
   padding-left: 10px;
   border-radius: 6px;
   margin-bottom: 25px;
   display: block;
}
}